<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IIssueTracker" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/task2/Task2Service"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IIssueTracker"
                contract="ServiceReference1.IIssueTracker" name="WSHttpBinding_IIssueTracker">
                <identity>
                    <userPrincipalName value="Ola-TOSH\Ola" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>